body{
    font-family: 'Lato', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}
.nj{
    color:black;
    font-size: 45px;
    font-weight: 800px;

}
.sp{
    color: rgb(252, 130, 30);
}
nav > ul{
    display: flex;
    align-items: center;
   
}
nav li{
    list-style: none;
    margin-right: 50px;

}
nav a{
    text-decoration: none;
    color: rgb(91, 99, 99);
}
.btn{
    border-radius: 5px;
    background: rgb(252, 130, 30) ;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 35px;
}
.had{
    background-image: url('image/watercolor-4116932_1920.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: rgb(229, 224, 207);
    background-size: 950px;
  
}
.banner{
 
    padding:30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile{
    width:500px;
}
.banner .jak{

}
h1{
    font-size: 75px;
}
.ja1{
    font-size: 45px;
    padding-left: 10px;
}
.btn1{
    border: 2px solid  rgb(252, 130, 30);
    border-radius: 5px;
    padding: 15px 35px;
    font-size: 20px;
    color: rgb(252, 130, 30) ;
}
/*    hader end */
main{
    width: 1140px;
    margin: 0px auto;
}
.about{
    margin: 130px 0;
  
    padding:130px;
    background-color:rgb(229, 224, 207) ;
    border-radius: 10px;

}
.section-title{
    color: black;
    text-align: center;
    font-size: 35px;
      font-weight: 700;
  
}
.prag{
    color:rgb(92, 88, 88);

text-align: center;
font-size: 18px;

padding: 30px 150px;
}
.info-con{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.des{
    text-align: center;
}
/*skill*/
.skill{
    justify-content:center;
    margin: auto;
    align-items: center;
  
    padding: 30px 150px;
}
.jav
{
    margin: auto;
max-width:100px;
    height: 100px;
    margin: 0px;
}
.despriction{
    padding: 30px;

}
.ama{
    margin: auto;
  justify-content:space-around;
    display: flex;
    align-items: center;
   
  
}
.skill{

width: auto 300px;
align-items: center;
justify-content: space-around;
background-color: aliceblue;
text-align: center;


  
}
.ama p{
    
    justify-content: center;
}
.nai{
    margin: auto;
    text-align: center;
    display: flex;

}
/*             main Con            */
.main-con{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  

 
}
.content{
height: auto;
    padding: 10px;
    text-align: center;

}
.contai{
    border-radius: 5px;
    height:390px;
    padding: 25px;
    margin-right: 20px;
    background-color: rgb(238, 231, 231);
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px rgb(207, 204, 204);
}
.amar-img{
    display: flex;
    justify-content:right;
    align-items: center;

}





.resume-colume{
  
}
.resume-container{
    padding-bottom: 50px;
    display: flex;
    gap: 50px;
}
.resume-container{
    display: flex;

}
.btna{
   
   
   
text-align: center; 
background-color: rgb(241, 106, 15);

display: flex;

justify-content: center;


   
border-radius: 5px;

border: 0;
color: white;
font-size: 20px;
font-weight: 700px;
padding: 15px 35px;

margin:20px auto 60px auto  ;


 
}
footer{
    display: flex;
    background-color: antiquewhite;
    padding: 130px 50px 130px ;
    margin-top: 100px;
    gap: 100px;
    justify-content: ;
}
.footer-colum{
    width: 50%;
    text-align: center;

   

}
input[type="text"],input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: rgb(105, 104, 102);
    background-color: aliceblue;
    border: 5px;
    border: none;
    width: 100%;


}
.sociel-links{
    display: flex;
}
.sociel-links ul li{
    list-style: none;
    margin: auto;
    justify-content: center;
    display: inline;
}
.sociel-links ul li a{
    font-size: 30px;
    margin-right: 25px;
    text-decoration: none;
    color: rgb(247, 107, 27);
}
